html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

button{
  border: none;
  padding: 5px;
  background-color: #204D66;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}
.container {
  display: flex;
  height: 100vh;
}

.interaction{
  background-color: white;
  height: 98%;
  width: 20%;
  padding: 10px;
  overflow-y: scroll;
}

#map_container{
  width: 80%;
}

#map {
  height: 100%;
}


.title{
  margin: 0;
  margin-bottom: 10px;
}

.checkboxes {
  padding: 10px;
  background-color: #BAE4E5;
  margin-bottom: 10px;
}

.checkboxes span {
  font-size: 0.8em;
}

.author-place{
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.author-place h3{
  margin: 0;
  margin-bottom: 5px;
  pointer-events: none;

}

.author-place p {
  margin: 0;
  font-size: 0.8em;
  pointer-events: none;
}
