html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

button{
  border: none;
  padding: 5px;
  background-color: #204D66;
  color: white;
  cursor: pointer;
}

.interaction{
  position: absolute;
  left: 0;
  background-color: white;
  min-height: 100vh;
  z-index: 1;
  width: 250px;
  padding: 10px;
  overflow-y: scroll;
}

#map {
  height: 100%;
}

.selectedButton{
  background-color: #ccc;
  cursor: auto;
}

.author-buttons{
  margin-bottom: 10px;
}

.author-place{
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.author-place h3{
  margin: 0;
  margin-bottom: 5px;
}

.author-place p {
  margin: 0;
  font-size: 0.8em;
}
